<h1> <%= @book_club.name %> </h1>
<ul>
  <% @book_club.members.each do |member| %>
    <li>
      <%= member.first_name %>
      <% if member.leader == true %>
        (Leader) --
      <% end %>
      <%= member.email %>
    </li>
  <% end %>
</ul>
